/**
 * Catppuccin Mocha theme
 * Color palette copied from https://catppuccin.com/palette
 * https://github.com/hiimsergey/rofi-catppuccin
 */

* {
    base: rgba(16,16,16,0.4);
    surface0:#0000;
    overlay0: #adadad;
    text: #63686c;

    mauve: #cba6f7;
    red: #f38ba8;
    peach: #fab387;
    green: #a6e3a1;
    lavender: #adadad;

    background-color: @base;
}

window {
    height: 600;
    width: 600;

    border: 3;
    border-radius: 10;
    border-color: @lavender;
}

mainbox {
    spacing: 0;
    children: [inputbar, message, listview];
}

inputbar {
    color: @text;
    padding: 14;
    background-color: @base;
}

message {
    padding: 10;
    background-color: @overlay0;
}

listview {
    padding: 8;
    border-radius: 0 0 10 10;
    border: 2 2 2 2;
    border-color: @base;
    background-color: @base;
    dynamic: false;
}

textbox {
    text-color: @text;
    background-color: @surface0;
}

error-message {
    border: 20 20 20 20;
}

entry, prompt, case-indicator {
    text-color: inherit;
    background-color:@surface0;
}

prompt {
    margin: 0 10 0 0;
}

element {
    padding: 5;
    vertical-align: 0.5;
    border-radius: 10;
    background-color: @surface0;
}

element.selected.normal {
    background-color: @overlay0;
}

element.alternate.normal {
    background-color: @surface0;
}

element.normal.active, element.alternate.active {
    background-color: @peach;
}

element.selected.active {
    background-color: @green;
}

element.normal.urgent, element.alternate.urgent {
    background-color: @red;
}

element.selected.urgent {
    background-color: @mauve;
}

element-text, element-icon {
    size: 40;
    margin: 0 10 0 0;
    vertical-align: 0.5;
    background-color: @surface0;
    text-color: @text;
}

element-text .active, element-text .urgent {
    text-color: @base;
}
